.cover__link {
  background-image: url(../../../images/__background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  margin: 0;
  position: relative;
  max-width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.cover__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: .3;
  transition: opacity 0.4s;
  }
  
.cover__link:hover::before {
  opacity: .8;
  cursor: pointer;
  max-width: 1184px;
  width: 100%;
  box-sizing: border-box;
  }

@media screen and (max-width: 1024px) {
  .cover__link {
    max-width: 1024px;
    min-height: 640px;
  }
}
  
@media screen and (max-width: 768px) {
  .cover__link {
    max-width: 100%;
    min-height: 480px;
  }
}
  
@media screen and (max-width: 320px) {
  .cover__link {
    width: 100%;
    min-height: 200px;
  }
}