.places {
  margin-top: 92px;
}

@media screen and (max-width: 786px) {
  .places {
    margin-top: 88px;
  }
}

@media screen and (max-width: 500px) {
  .places {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}