.main-info {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
  .main-info {
    width: 928px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .main-info {
    margin-top: 48px;
  }
}
