.cover__text {
  max-width: 360px;
  height: 66px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  position: relative;
}

@media (max-width: 1024px) {
  .cover__text {
    margin-bottom: 195px;
  }
}

@media (max-width: 768px) {
  .cover__text {
    margin-bottom: 115px;
  }
}

@media (max-width: 320px) {
  .cover__text {
  margin-bottom: 33px;
  font-size: 14px;
  line-height: 1.14;
  }
}
