.place__heading-link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAAAAA;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-top: 0;
}