.place__navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  .place__navigation {
    margin-left: 16px;
  }
}