.page__contanier {
  margin: 0;
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .content__container {
      max-width: 690px;
  }
}

@media screen and (max-width: 768px) {
  .content__container {
      max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .content__container {
      max-width: 288px;
  }
}