.header__lang-ru {
  width: 30px;
  height: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  text-align: right;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin-right: 18px;
  margin-top: 18px;
}

.header__lang-ru:hover {
  opacity: 0.8;
}

@media (max-width: 320px) {
  .header__lang-ru {
    width: 22px;
    height: 20px;
  }
}