.place {
  max-width: 984px;
  margin: 0 auto 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 48px;
  column-gap: 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    column-gap: 28px;
    margin-bottom: 92px;
  }
}

@media screen and (max-width: 768px) {
  .place {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 90px;
  }
}

@media screen and (max-width: 500px) {
  .place {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 66px;
    gap: 32px;
  }
}