.footer {
  max-width: 1184px;
  display: flex;
  flex-direction: row;
  margin: 92px auto 24px;
  justify-content: space-between;
}

@media (max-width: 1024px) {
  .footer {
    max-width: 928px;
  }
}

@media (max-width: 768px) {
  .footer {
    max-width: 720px;
    margin-top: 88px;
  }
}

@media (max-width: 320px) {
  .footer {
    max-width: 186px;
    gap: 16px;
    flex-direction: column;
    margin-left: 16px;
  }
}